@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.cdnfonts.com/css/ethnocentric');

@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');

@font-face{
    font-family: myFont1;
    src:url("../fonts/ethnocentric\ .ttf");
}

button {
    color: white;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Ethnocentric Rg', sans-serif;
    text-transform: uppercase;
    background: 
    linear-gradient(90deg, #FF4FA2 0%, #6B26D0 100%) padding-box,
    linear-gradient(90deg, #6B26D0, #FF4FA2) border-box;
    border: 15px solid transparent;
    border-radius: 21px;
    box-shadow: 0px -1px 51.4px 5px #FF57A3;
    z-index: 999;
}


.logo h1{
    font-family: 'Ethnocentric Rg', sans-serif;
    background: linear-gradient(0deg, #238C95 21.15%, #FFF 51.23%, #3BEBFB 77.56%);
    background-clip: text;
    width: auto;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0px -1px 184px #26A7C1;
}

.logo{
    text-shadow: 0px -1px 184px #26A7C1;
}

h1, h2, h3, h4{
    font-family: "Tektur", sans-serif;
    font-style: normal;
}